<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      
            <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>

<!-- nav bar link -->
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <ng-container *ngIf="accountService.currentUser$ | async">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">Match</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                  </li>
              </ng-container>
              <li class="nav-item">
                <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
              </li>
            </ul>
<!--  -->

<!-- menu profile -->
            <div mdbDropdown class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>

              <button
                class="btn btn-primary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                aria-expanded="false"
                dropdownToggle
                mdbDropdownToggle>
                Welcome {{user.username | titlecase}}
              </button>

              <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton" *dropdownMenu>
                <li><a class="dropdown-item" routerLink="member/edit">Edit Proflie</a></li>
                <li><a class="dropdown-item" href="#" (click)="logout()">Log Out</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
<!--  -->

<!-- khung dang nhap -->
            <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
                <input 
                    name="username"
                    [(ngModel)]="model.username"
                    class="form-control me-2" 
                    type="text" 
                    placeholder="UserName">
                <input 
                    name="password"
                    [(ngModel)]="model.password"
                    class="form-control me-2" 
                    type="password" 
                    placeholder="Password">
                <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
<!--  -->

    </div>
  </nav>